<!DOCTYPE html>
<html>
    <head>
    	<title>XCAssets Icon Generator</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='/static/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<h1>XCAssets AppIcon Generator</h1>
    	<h3>Upload a 1024x1024 .PNG image.</h3>
    	<h3>Then download the ZIP on the next page.</h3>
    	<h4><a href="https://www.github.com/kylefrost/xcassets/blob/master/Instructions.md" target="_blank">Don't know what to do after that?</a>
    	<br><br>
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br /><br />
            <input type="submit" value="Upload">
        </form>
    </body>
</html>